.posts {
  font-family: "Source Code Pro", monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 570px;
  height: 190px;
  padding: 20px 30px 40px;
  margin: 40px auto 0;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  &:hover {
    transition: 0.5s;
    box-shadow: 0px 0px 50px rgba($color: #e6399b, $alpha: 0.3);
  }
}

.empty_wrapper {
  text-align: center;
  p {
    font-size: 26px;
    font-weight: 700;
    color: #cac6c2;
  }
}
