.header {
  width: 92%;
  position: fixed;
  //background-color: rgba(#faf7f6, 1);

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;

  color: #000;

  @media (max-width: 992px) {
    width: 88%;
  }
  @media (max-width: 768px) {
    width: 84%;
  }
}

.logo {
  font-size: 40px;
  font-weight: 900;

  &:hover {
    span {
      transition: 0.5s;
      color: #e6399b;
    }
  }
  @media (max-width: 1275px) {
    font-size: 30px;
  }
}
//.container {
//}

.nav {
  position: relative;
  display: inline-flex;
  gap: 10px;
  .icons {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;

    @media (max-width: 1275px) {
      width: 34px;
      height: 34px;
    }
  }
  .search {
    width: 42px;
    height: 42px;
    @media (max-width: 1275px) {
      width: 36px;
      height: 36px;
    }
    &:hover {
      circle,
      line {
        transition: 0.3s;
        stroke: #e6399b;
      }
    }
  }
  .notifications {
    &:hover {
      path {
        transition: 0.3s;
        fill: #e6399b;
      }
    }
  }
  .settings {
    &:hover {
      circle,
      path {
        transition: 0.3s;
        stroke: #e6399b;
      }
    }
  }
}

.bar {
  position: relative;
  width: 30px;
  height: 30px;
  &:hover {
    cursor: pointer;
    fill: #e6399b;
    transition: 0.5s;
  }
}

.bar_modal {
  position: absolute;
  top: 100px;
  right: 60px;
  width: 170px;
  height: 160px;
  border-radius: 5px;
  background-color: #faf7f6;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);

  ul {
    font-family: "Source Code Pro", monospace;

    background-color: #faf7f6;
    padding: 0;
    margin-top: 20px;
    li {
      list-style-type: none;
      padding: 10px 20px;
      font-weight: 600;
      display: flex;
      align-items: center;

      &:hover {
        cursor: pointer;
        color: #e6399b;
        background-color: #fbe1ec;
      }
    }
  }
  &:hover {
    transition: 0.5s;
    box-shadow: 0px 0px 20px rgba($color: #e6399b, $alpha: 0.3);
    cursor: pointer;
  }
}
.bottom_line {
  border-bottom: 1px solid #cac6c2;
  margin: 20px 0 0;
  width: 100%;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .top_left {
    display: inline-flex;
    align-items: center;
    gap: 20px;
    font-size: 18px;

    h2 {
      margin: 0;
      font-size: 18px;
      line-height: 10px;
    }
    p {
      color: #cac6c2;
      font-size: 18px;
      font-weight: 700;
      margin: 0;
    }
  }
  .top_right {
    svg {
      height: 24px;
      width: 24px;
      cursor: pointer;
      fill: #cac6c2;
      &:hover {
        fill: #e6399b;
      }
    }
  }
}
.no_notifications {
  font-weight: 700;
  font-size: 18px;
  color: #e6399b;
}
