.header {
  background-color: #faf7f6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
  color: #000;
}

.logo {
  font-size: 40px;
  font-weight: 900;

  &:hover {
    span {
      transition: 0.5s;
      color: #e6399b;
    }
  }
}
//.container {
//}

.nav {
  display: inline-flex;
  gap: 10px;
  .icons {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
  }
}

.search {
  &:hover {
    animation: rotateSearch 1s infinite;

    @keyframes rotateSearch {
      0% {
        transform: rotate(0deg);
      }
      50% {
        transform: rotate(10deg);
      }
      100% {
        transform: rotate(0deg);
      }
    }
  }
}

.notifications {
  &:hover {
    animation: rotateUsers 1s infinite;
    @keyframes rotateUsers {
      0% {
        transform: rotate(0deg);
      }
      25% {
        transform: rotate(10deg);
      }

      75% {
        transform: rotate(-10deg);
      }
      100% {
        transform: rotate(0deg);
      }
    }
  }
}

.settings {
  &:hover {
    animation: rotateSettings 30s infinite;
    @keyframes rotateSettings {
      0% {
        transform: rotate(0deg);
      }
      50% {
        transform: rotate(1800deg);
      }
      100% {
        transform: rotate(3600deg);
      }
    }
  }
}
