.header {
  width: 92%;
  position: fixed;
  background-color: rgba(#faf7f6, 1);
  //backdrop-filter: blur(20px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
  z-index: 0;
  color: #000;

  @media (max-width: 1275px) {
    z-index: 2;
  }
  @media (max-width: 992px) {
    width: 88%;
  }
  @media (max-width: 768px) {
    width: 84%;
  }
}

.logo {
  font-size: 40px;
  font-weight: 900;

  &:hover {
    span {
      transition: 0.5s;
      color: #e6399b;
    }
  }
  @media (max-width: 1200px) {
    font-size: 30px;
  }
}
//.container {
//}

.nav {
  position: relative;
  display: inline-flex;
  gap: 10px;
  .icons {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;

    @media (max-width: 1200px) {
      width: 34px;
      height: 34px;
    }
  }
  .search {
    width: 42px;
    height: 42px;
    @media (max-width: 1200px) {
      width: 36px;
      height: 36px;
    }
    &:hover {
      circle,
      line {
        transition: 0.3s;
        stroke: #e6399b;
      }
    }
  }
  .notifications {
    &:hover {
      path {
        transition: 0.3s;
        fill: #e6399b;
      }
    }
  }
  .settings {
    &:hover {
      circle,
      path {
        transition: 0.3s;
        stroke: #e6399b;
      }
    }
  }
}

.bottom_line {
  border-bottom: 1px solid #cac6c2;
  margin: 20px 0 0;
  width: 100%;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .top_left {
    display: inline-flex;
    align-items: center;
    gap: 20px;
    font-size: 18px;

    h2 {
      margin: 0;
      font-size: 18px;
      line-height: 10px;
    }
    p {
      color: #cac6c2;
      font-size: 18px;
      font-weight: 700;
      margin: 0;
    }
  }
  .top_right {
    svg {
      height: 24px;
      width: 24px;
      cursor: pointer;
      fill: #cac6c2;
      &:hover {
        fill: #e6399b;
      }
    }
  }
}
.no_notifications {
  font-weight: 700;
  font-size: 18px;
  color: #e6399b;
}
