.header {
  width: 90%;
  position: fixed;
  background-color: rgba(#faf7f6, 1);
  //backdrop-filter: blur(20px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
  color: #000;
  //z-index: 0;
  @media (max-width: 1275px) {
    z-index: 5;
  }
}

.logo {
  font-size: 40px;
  font-weight: 900;

  &:hover {
    span {
      transition: 0.5s;
      color: #e6399b;
    }
  }
  @media (max-width: 1200px) {
    font-size: 30px;
  }
}
//.container {
//}

.nav {
  position: relative;
  display: inline-flex;
  gap: 10px;
  .icons {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 8px;
    cursor: pointer;
    @media (max-width: 1200px) {
      width: 34px;
      height: 34px;
    }
  }
}

.search {
  &:hover {
    animation: rotateSearch 1s infinite;

    @keyframes rotateSearch {
      0% {
        transform: rotate(0deg);
      }
      50% {
        transform: rotate(10deg);
      }
      100% {
        transform: rotate(0deg);
      }
    }
  }
}

.notifications {
  &:hover {
    animation: rotateUsers 1s infinite;
    @keyframes rotateUsers {
      0% {
        transform: rotate(0deg);
      }
      25% {
        transform: rotate(10deg);
      }

      75% {
        transform: rotate(-10deg);
      }
      100% {
        transform: rotate(0deg);
      }
    }
  }
}

.notifications_modal {
  display: flex;
  position: absolute;
  top: 400px;
  right: 400px;
}

.settings {
  &:hover {
    animation: rotateSettings 30s infinite;
    @keyframes rotateSettings {
      0% {
        transform: rotate(0deg);
      }
      50% {
        transform: rotate(1800deg);
      }
      100% {
        transform: rotate(3600deg);
      }
    }
  }
}
