//.posts {
//  font-family: "Source Code Pro", monospace;
//  display: flex;
//  justify-content: center;
//  align-items: center;
//  width: 90%;
//  min-height: 472px;
//  //border-radius: 20px;
//  padding: 20px 30px 40px;
//  margin: 0 auto;
//  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
//}

//.empty_wrapper {
//  text-align: center;
//  p {
//    font-size: 26px;
//    font-weight: 700;
//    color: #cac6c2;
//  }
//}
