.container {
  margin: 0 0 80px;
  padding: 20px;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  @media (max-width: 1310px) {
    flex-direction: column;
  }
}

.black {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.profile {
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
  padding: 0 30px;
  @media (max-width: 1310px) {
    margin: 0 auto;
  }
  .avatar {
    margin: 0 auto;
    width: 250px;
    height: 250px;
    border-radius: 50%;
  }
  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    .username {
      font-size: 20px;
      color: #cac6c2;
      margin-top: 6px;
      margin-bottom: 0;
    }
    .name {
      font-size: 22px;
      font-weight: 700;
      margin: 0;
    }
  }
}

.bottom_line {
  border-bottom: 1px solid #cac6c2;
  margin: 20px 0 0;
  width: 50%;
}
.friends_bottom_line {
  border-bottom: 1px solid #cac6c2;
  margin: 20px 0 0;
}
.posts {
  display: flex;
  flex-direction: column;
  margin: 184px auto 0;
  max-width: 600px;
  padding: 0px 30px;
  @media (max-width: 1310px) {
    margin: 0 auto;
  }
}
