.container {
  margin: 80px 80px 80px 80px;
  padding: 20px;
  max-width: 100%;
}

.black {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.profile {
  align-self: center;
  margin-top: -72px;
  width: 100%;
  text-align: center;
  .avatar {
    margin: 0 auto;
    width: 250px;
    height: 250px;
    border-radius: 50%;
  }
  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    .username {
      font-size: 20px;
      color: #cac6c2;
      margin-top: 6px;
      margin-bottom: 0;
    }
    .name {
      font-size: 22px;
      font-weight: 700;
      margin: 0;
    }
    .age {
      font-size: 16px;
      //color: #cac6c2;
      margin: 10px;
    }
  }
  .friends {
    max-width: 560px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 20px;
    padding: 20px 30px 40px;
    margin-top: 50px;
    box-shadow: 10px 6px 16px rgba(0, 0, 0, 0.1);
    .friends_top {
      display: flex;
      align-items: center;

      p {
        text-align: start;
        font-weight: 600;
        margin: 0 20px 0 0;
      }
      span {
        color: #cac6c2;
      }
    }
    .friends_list {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: px;
      grid-row-gap: 20px;
      margin-top: 30px;
      .friend {
        img {
          width: 70px;
          height: 70px;
          border-radius: 50%;
        }
        p {
          margin: 0;
        }
      }
    }
  }
}

.edit {
  position: absolute;
  top: 40px;
  right: 378px;
  width: 30px;
  height: 30px;
}

.bottom_line {
  border-bottom: 1px solid #cac6c2;
  margin: 20px 0 0;
  width: 50%;
}
.friends_bottom_line {
  border-bottom: 1px solid #cac6c2;
  margin: 20px 0 0;
}
