.bottom_line {
  border-bottom: 1px solid #cac6c2;
  margin: 20px 0 0;
  width: 100%;
}

.wrapper {
  //font-family: "Source Code Pro", monospace;
  width: 300px;
  position: fixed;
  top: 160px;
  right: 20px;
  padding: 20px;
  //border-radius: 20px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  background-color: #faf7f6;
  z-index: 1;

  .top {
    display: inline-flex;
    align-items: center;
    gap: 20px;
    h2 {
      margin: 0;
      font-size: 18px;
      line-height: 10px;
    }
    p {
      font-size: 18px;
      margin: 0;
    }
  }
}
