.field {
  font-family: "Source Code Pro", monospace;

  padding: 20px 0px 20px;
  text-align: left;

  .textarea {
    font-family: "Source Code Pro", monospace;
    font-weight: 400;
    display: block;
    margin: 0 auto;

    background-color: inherit;
    width: 100%;
    height: auto;
    overflow-y: hidden;
    border: none;
    outline: none;
    font-size: 20px;
    //padding: 18px 10px 0;
    resize: none;
  }
  .bottom_line {
    border-bottom: 1px solid #cac6c2;
    margin: 20px 0 0;
    width: 100%;
  }

  .field_bottom {
    display: inline-flex;
    gap: 20px;
    margin-top: 20px;

    .post_btn {
      font-family: "Source Code Pro", monospace;
      font-weight: 500;
      color: #fff;
      background-color: #222;
      padding: 10px 20px;
      border: none;
      border-radius: 100px;
      font-size: 16px;
      font-weight: 700;
      cursor: pointer;
      &:hover {
        background-color: #000;
      }
    }
  }
}
