.textarea {
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
  display: block;
  margin: 0 auto;
  background-color: inherit;
  width: 100%;
  height: auto;
  overflow-y: hidden;
  border: none;
  outline: none;
  font-size: 20px;
  //padding: 18px 10px 0;
  resize: none;
}
