.container {
  margin: 0 80px 80px;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 640px;
  min-height: 70vh;
  //background-color: #fff;
  //border-radius: 20px;
  padding: 20px 60px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  &:hover {
    transition: 0.5s;
    box-shadow: 0px 0px 50px rgba($color: #e6399b, $alpha: 0.3);
  }
  .users_count {
    display: flex;
    align-items: center;
    p {
      font-weight: 600;
      margin-right: 20px;
    }
    span {
      color: #cac6c2;
    }
  }
  .search_wrapper {
    position: relative;
    .search {
      display: flex;
      justify-content: center;
      background-color: inherit;
      border: 2px solid #cac6c2;
      width: 96%;
      outline: none;
      padding: 10px;
    }
    .search_icon {
      height: 30px;
      width: 30px;
      position: absolute;
      top: 5px;
      right: 8px;
      padding-left: 8px;
      border-left: 1px solid #cac6c2;

      cursor: pointer;
    }
  }
  .user_wrapper {
    .user {
      margin: 40px 0 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .left {
        display: inline-flex;
        gap: 20px;
        align-items: center;
        .avatar {
          width: 60px;
          height: 60px;
          border-radius: 50%;
        }
        .name {
          font-size: 20px;
        }
      }
      .right {
        display: inline-flex;
        align-items: center;
        gap: 20px;
        button {
          //height: 30px;
          background-color: #000;
          color: #fff;
          border: 1px solid #000;
          padding: 8px 14px;
          cursor: pointer;
          font-size: 16px;
          &:hover {
            background-color: #fff;
            color: #000;
            border: 1px solid #000;
            transition: 0.4s;
          }
        }
        .plus_icon {
          height: 30px;
          width: 30px;
          cursor: pointer;
        }
      }
    }
  }
}

.bottom_line {
  border-bottom: 1px solid #cac6c2;
  margin-bottom: 20px;
}
