.friends {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  height: 500px;
  margin-right: 20px;
  border-radius: 1px solid #000;
  .friends_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .friends_title {
      padding: 20px;
      width: 100%;
      font-size: 20px;
      font-weight: 700;
      //display: flex;
      //justify-content: center;
      //border-radius: 20px 20px 0 0;
    }
    .right_icon {
      width: 36px;
      height: 36px;
      cursor: pointer;
      margin-right: 10px;
    }
  }
}

.friends_wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  //overflow: auto;
}

.friend {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  .friend_info {
    display: inline-flex;
    align-items: center;
    gap: 20px;
  }
  .chat {
    width: 30px;
    height: 30px;
  }
}
.bottom_line {
  border-bottom: 1px solid #cac6c2;
}
.black {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
